h1, h2, h3, h4, h5, h6, p, li, a{
  font-family: sans-serif
}
html{
  background-color: #e7e7e7;
}


h1 {text-align: center;
}



ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 30px;
}

li {
  float: left;
}

ol.web_list li{
  float: none;
}

a.email{
  float: none;
  display: block;
}

li.right{
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div.wide_column{
  width:70%;
  float: left;
}

div.wide_container{
  width:100%;
  box-sizing: border-box;
  float: left;
  background-color:#fff;
  margin:10px 0 10px 0;
  padding:0 20px 20px 20px;
}

div.thin_container{
  width:28%;
  box-sizing: border-box;
  margin:10px 0 10px 0;
  padding:0 20px 20px 20px;
  float:right;
  background-color:#fff;
}

div.wide-img{
  width:100%;
  height:400px;
}

div.thin-img{
  width:100%;
  height:400px;
}

div.webdeveloper{
  background-image:url(images/webdeveloper.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
div.chicagoskyline{
  background-image:url(images/chicagoskyline.png);
  background-repeat: no-repeat;
  background-position: center;
}
div.sunny{
  background-image:url(images/profilepic.jpg);
  background-repeat: no-repeat;
}